[2016-03-05 13:39] lmangani opened #1 "Fixing links, locations and docs"
Work in progress transitioning from the old repository

[2016-03-05 13:50] lmangani commented on #1
Travis passing

[2016-03-05 13:53] lmangani commented on #1
Docker build passing

https://hub.docker.com/r/sipcapture/homer-docker/

All good to go!

[2016-03-05 13:53] #1 closed

[2016-03-21 09:55] netaskd opened #2 "Cron inside docker do not rotate partitions"
By default cron is not working inside container as was expected, and sipcapturing is failing after some days.

[2016-03-21 10:49] dougbtv commented on #2
Thanks netaskd. I had noted crond might need some work (a new container
would be nice).

Any idea on the failure mode?

I had manually run the cron in my testing, but, need to memorialize it in
the Travis build.

On Mon, Mar 21, 2016, 5:55 AM netaskd <notifications@github.com> wrote:

[2016-03-23 13:07] dougbtv commented on #2
Alright, I think I see the failure mode.... that cron script is buggin' out.

[code]

I'll take on fixing this up and making a new container for cron itself.

Thanks again for the bug report.

[2016-03-24 12:47] dougbtv opened #3 "Automated Builds - Need one for each container"
I think we'll need dockerhub automated builds for each container we're creating... Those will be...

[code]

Also needed:

- [ ] Change naming in `docker-compose.yml` to `sipcapture/*` (was qxip/*)
- [ ] Also nice! We should add a README.md file in each directory containing a Dockerfile.

[2016-03-24 12:53] lmangani commented on #3
ACK will get ahead with some of the above

[2016-03-24 14:08] dougbtv commented on #2
Alright, I think we should be OK on this one, @netaskd -- went ahead and replicated the issue, and have it working.

Still need to follow-up on regression tests, but, I'd recommend pulling up master at head now, should be just what you're looking for.

[2016-03-24 14:08] #2 closed

[2016-04-07 15:02] B-eugen opened #5 "image sipcapture/homer-kamailio not found"
docker-compose pull
....

Pulling kamailio (sipcapture/homer-kamailio:latest)...
Pulling repository docker.io/sipcapture/homer-kamailio
ERROR: Error: image sipcapture/homer-kamailio not found

[2016-04-07 15:04] dougbtv commented on #5
@B-eugen thanks for the heads up! We're currently aware of this and are expecting to automate the builds and release of these images to dockerhub, however in the meanwhile, you'll have to issue a `docker-compose build` to put together the images. Sorry for the inconvenience, for sure.

[2016-04-07 15:04] dougbtv commented on #5
FYI also being addressed in #3

[2016-04-07 15:05] B-eugen commented on #5
Omg that answer was nearly instant ;) Thank you for the info!

[2016-04-07 15:06] dougbtv commented on #5
No prob, appreciate the report for sure!

[2016-04-07 15:06] #5 closed

[2016-04-07 15:15] B-eugen commented on #5
cron/Dockerfile:FROM qxip/homer-webapp --> cron/Dockerfile:FROM sipcapture/homer-webapp

[2016-04-07 15:46] dougbtv commented on #5
oops! thanks for the heads up, we gotta normalize the image naming convention, too, good eye

[2016-04-22 20:49] dougbtv opened #7 "Latest homer webapp failed to return 200 in CI"
Ooops! So, was experimenting with getting the latest Homer running with this suite of docker images, etc, and... Noticed that CI failed with it.

Couple things here that I'll address...

* Get it to work with current version
* Possibly instead of pulling head on master from Homer, pull a specific tag (still have to look into this)

Hopefully look at it later tonight (4/22) or hopefully this weeken

[2016-04-22 21:12] lmangani commented on #7
I'll be around to spare a hand, we could also try use the new rotation scripts to keep all the credentials for the other components ie: https://github.com/sipcapture/homer-api/tree/master/scripts/new

[2016-04-22 21:31] dougbtv commented on #7
Excellent! I'll give the new rotation scripts a whirl for sure.

On Fri, Apr 22, 2016, 5:12 PM Lorenzo Mangani <notifications@github.com>
wrote:

[2016-04-25 14:51] dougbtv commented on #7
I gave the new rotation scripts a whirl, but, I think it might need a little grooming before I implement it, at least I'm running into a few issues, I fixed on issue and [submitted this PR (for fixing ini location)](https://github.com/sipcapture/homer-api/pull/82). However I also ran into a [MySQL issue that I didn't dig into, but reported it in this issue](https://github.com/sipcapture/homer-api/

[2016-04-25 16:48] dougbtv commented on #7
I found it, turns out my modified way of copying the rotation scripts was incorrect. It failed to copy all of the files, so! That made it so the new tables for the day weren't created when initially bootstrapping the rotation scripts.

Aaaand, the title of this issue is wrong -- it wasn't the webapp that failed I read the CI report wrong -- it was that it didn't see the expected results in the dat

[2016-04-26 11:27] dougbtv commented on #7
Cool, I'm gonna close this one, and I'll make a new issue for the updated rotation scripts, they're much cleaner, it'll be nice to implement (and I like the customizable purge horizon for rotation, that's so nice)

[2016-04-26 11:27] #7 closed

[2016-04-26 11:28] dougbtv opened #9 "Implement new rotation scripts"
New rotation scripts @ https://github.com/sipcapture/homer-api/tree/master/scripts/new

Time to implement the latest-and-greatest

[2016-04-27 13:04] dougbtv commented on #9
Scripts have been updated per issue @ https://github.com/sipcapture/homer-api/issues/81

Going to test against the `new-rotation` branch

[2016-05-02 17:53] dougbtv opened #11 "Pin version in Dockerfiles"
I'm building a commit right now that pins the homer-api & homer-ui verisons by commit hash. This one: https://github.com/sipcapture/homer-docker/commit/e8fa985261173e56fe71f597957937bfb6dafae3

On my wishlist is tags with semver or something (which I see has been done at least during major releases, very nice) on those projects. It will look nicer in the dockerfile when I can pin it at specific ta

[2016-05-02 18:04] lmangani commented on #11
Hey Doug!

Excellent point! A solution to this is actually be possible by pulling the sipcapture/homer repository which contains the subrepos pointers - those are currently updated when we fix something, but with a little bit of method, we could leverage the main repository (and branches) to control what we serve to the stable front (containers, installers, etc) and leave direct pull from ui/api r

[2016-05-02 18:05] dougbtv commented on #11
Ahhhh ha! You've got submodules in there. That..... that is actually quite awesome. And maybe something that I can start making use of sooner than later.

Absolutely curious to hear what everyone likes, I'd just like to leverage what you guys have in place, and what makes sense for everyone.

[2016-05-18 16:51] samgaw opened #14 "Docker Compose includes images not published"
I was asked to raise this after a chat at Kamailio World. The install docs at https://github.com/sipcapture/homer/wiki/Docker-Install say:

[code]
But the docker-compose.yml file in this repo is referencing images that either don't exist or are marked as private on the Hub registry so the pull command fails. The only option is to run docker-compose build.

[2016-05-18 16:56] adubovikov commented on #14
thanks for report. We will check it ASAP

[2016-05-18 16:59] dougbtv commented on #14
Documentation change should fix er up, docker-compose build instead of
pull, it'd been reported before another issue mentions it'd be nice to push
em to Docker hub too!

On Wed, May 18, 2016, 12:56 PM Alexandr Dubovikov <notifications@github.com>
wrote:

[2016-05-18 17:50] dougbtv commented on #14
Sorry, I mis-read this one, the readme in this project here is fine. It's in the Sipcapture Homer wiki -- sorry to add any confusion!

[2016-06-22 08:11] lmangani commented on #14
Wiki Fixed! Apologies for missing this one

[2016-06-22 08:11] #14 closed

[2016-07-13 12:27] antoniopinarella opened #17 "web user/pass"
install went easy but test@test.com/test123 is not valid and default user and password for logging to homer web portal.
haven't seen in documentation here whats is your default user...
?

Thanks

Antonio

[2016-07-13 12:28] adubovikov commented on #17
admin/test123

On 13 July 2016 at 14:27, antoniopinarella <notifications@github.com> wrote:

[2016-08-15 21:00] #17 closed

[2016-08-15 21:01] adubovikov commented on #9
can we close it ?

[2016-09-02 14:52] leftyb opened #20 "When "Running in a single container" and using external Mysql is not working."
Scripts is trying to connect at 127.0.0.1 even if --dbhost is set.
As well it is necessary that the container creates all the necessary databases if not exist at the remote server.

I will try to contribute on that.

Regards.

[2016-09-23 10:11] danjenkins commented on #3
++ on this, I just faced the same issue. I just want to download the images from dockerhub and not have to build them myself; in a production type environment I don't want to use docker-compose or clone down git repos just to build images.

[2016-09-23 10:16] danjenkins opened #21 "Build failure"
Building from scratch and the build for `webapp` fails

[code]

[2016-09-23 10:18] danjenkins commented on #21
Re-ran it and it seems to work now. Not sure if theres a bug in initial build

[2016-09-23 14:51] dougbtv commented on #21
Dan that looks like an intermittent network connectivity issue with running
apt and getting something like `Error reading from server. Remote end
closed connection [IP: 128.31.0.66 80]` - maybe not even on your end but
possible with the apt repo it pulled from.

Especially if it worked during a re-run of the build.

On Fri, Sep 23, 2016, 2:18 AM Dan Jenkins <notifications@github.com> wrote:

[2016-09-23 15:02] danjenkins commented on #21
Yup, closing

[2016-09-23 15:02] #21 closed

[2016-09-23 15:20] lmangani commented on #3
Started working on structure....

| Container | Pull |
|---|---|
| webapp | sipcapture/homer-docker:webapp |
| cron | sipcapture/homer-docker:cron |
| kamailio | sipcapture/homer-docker:kamailio |
| opensips | sipcapture/homer-docker:opensips |
| everything | sipcapture/homer-docker:latest |

[2016-09-23 15:28] danjenkins commented on #3
hey @lmangani , I don't agree that these should be tags on the `homer-docker` image. Tags are there to pin to versions etc. These should all be separate images and shouldn't have docker in their names.

`sipcapture/homer-webapp`
`sipcapture/homer-cron`
`sipcapture/homer-kamailio`
`sipcapture/homer-opensips`
`sipcapture/homer-docker` (everything) - purely from a keeping things working historically

[2016-09-23 15:31] dougbtv commented on #3
+1 to Dan's suggestions

On Fri, Sep 23, 2016, 7:28 AM Dan Jenkins <notifications@github.com> wrote:

[2016-09-23 15:34] lmangani commented on #3
Not to be the party breaker but.... unless I am mistaken, this is only reflected on docker HUB pull style and has nothing to do with the repository structure right? As our containers are only really meant to be executed together and are not general purpose, is it not best to keep them bundled? What are the disadvantages other than aesthetic?

[2016-09-23 15:42] danjenkins commented on #3
So theres homer v5 right now, and I want to pull down v5 forever (I dont want to pull latest because at some point latest = v6 and breaks things)

The correct way to do things is to have the version number as a tag so that I can pull down `sipcapture/homer-webapp:5` or `sipcapture/homer-webapp:5.1`, `:5` being I want all major changes and `:5.1` being I want all minor changes under `.1`

You can't

[2016-09-23 15:54] lmangani commented on #3
Point taken on the versions, not being a heavy docker user I took that as flexible factor - just to close the loop clear, what would the difference be between ```sipcapture/homer-webapp:5.1``` and ```sipcapture/homer-docker:webapp5.1``` other than having multiple repositories to maintain?

[2016-09-23 16:01] danjenkins commented on #3
Well the second one goes completely against how docker images are laid out as standard, your grouping is `sipcapture`, you could make a `homer` user and push them to that... an image name represents the image, the one thing that image does and so you shouldnt have images with different tags that do different things.

When you say repos, do you mean git repos? You don't need to have multiple git re

[2016-09-23 16:15] lmangani commented on #3
ACK, will proceed as suggested! Thanks a bunch for the suggestions and guidance guys :)

[2016-09-23 17:48] lmangani commented on #3
Et voila' ready to update the compose et all

| Container | Pull |
|---|---|
| webapp | sipcapture/homer-webapp |
| cron | sipcapture/homer-cron |
| kamailio | sipcapture/homer-kamailio |
| opensips | sipcapture/homer-opensips |

[2016-09-26 14:13] leftyb opened #22 "Tables 'stats_dest_reply' and 'stats_dest_mem' do not exist when running docker compose version."
homer-kamailio |  9(37) ERROR: db_mysql [km_dbase.c:128]: db_mysql_submit_query(): driver error on query: Table 'homer_statistic.stats_dest_reply' doesn't exist (1146)
homer-kamailio |  9(37) ERROR: <core> [db_query.c:181]: db_do_raw_query(): error while submitting query
homer-kamailio |  9(37) ERROR: sqlops [sql_api.c:265]: sql_do_query(): cannot do the query [INSERT INTO stats_dest_reply (fr]
ho

[2016-09-30 12:47] netaskd commented on #22
Try update table schemes:
[code]

[2016-09-30 12:54] adubovikov commented on #22
heh, yep, there is the table.

just disable it removing WITH_HOMER_DEST_STATS

On 30 September 2016 at 14:47, netaskd <notifications@github.com> wrote:

[2016-10-02 14:28] leftyb opened #23 "homer_configuration table still using MyISAM for some fields."
Mysql has changed the default engine to InnoDB for latest verrsions (higher to  5.5).

[2016-10-03 08:58] adubovikov commented on #23
thank you

has been fixed in the homer-api.
https://github.com/sipcapture/homer-api/commit/23e44dc9a974c7d318b88f1995d379e8919027e9

[2016-10-03 09:14] #23 closed

[2016-10-03 09:14] leftyb commented on #23
Thank you, closed issue.

[2016-10-04 10:29] leftyb opened #24 "New tables for Homer data are not created."
Looks like an issue at the homer-cron  container.

5(21) ERROR: db_mysql [km_dbase.c:128]: db_mysql_submit_query(): driver error on query: Table 'homer_data.sip_capture_registration_20161001' doesn't exist
(1146)
5(21) ERROR: <core> [db_query.c:235]: db_do_insert_cmd(): error while submitting query
5(21) ERROR: db_mysql [km_dbase.c:128]: db_mysql_submit_query(): driver error on query: Table 'homer

[2016-10-04 11:09] lmangani commented on #24
saint @dougbtv could you take a peek?

[2016-10-10 11:55] leftyb commented on #24
Hi any progress on that issue?
Thank you .

[2016-10-10 12:02] dougbtv commented on #24
I started to take a cursory glance but hadn't returned to it -- any chance
you can try running the cron script by hand (enter the container, `crontab
-l`, run that script) and show us the output [if any]).

(my apologies that I've been on the road / some life changes slowing me
down here!)

-Doug

On Mon, Oct 10, 2016, 7:55 AM Lefteris Banos <notifications@github.com>
wrote:

[2016-10-10 12:28] leftyb commented on #24
Hi @dougbtv,

Thank you very much for you response. Actually after I run the script manually tables created properly. Looks like that the cron jon is not run at all. My crontab -l :

crontab -l
30 3 * * * /opt/new/homer_rotate >> /var/log/cron.log 2>&1

That is a known issue on docker and ubuntu. Will try to provide more information on that.

Thanks again.

[2016-10-10 12:36] leftyb commented on #24
Hi @dougbtv,

At the hommer-cron output that message is appearing :
"Cannot make/remove an entry for the specified session"

And looks same with the issue that is solved here: http://stackoverflow.com/questions/21926465/issues-running-cron-in-docker-on-different-hosts

Will test and update.

Thank you.

[2016-10-10 12:52] leftyb commented on #24
Ok the solution is to add:

[code]

at the end of cron/run.sh

[2016-10-10 13:08] dougbtv commented on #24
Nice sleuthing! I'll look into adding that (and trying to write a Travis
test for it) soon, or feel free to submit a pull request, too.

Appreciate it.

On Mon, Oct 10, 2016, 8:52 AM Lefteris Banos <notifications@github.com>
wrote:

[2016-10-10 13:09] lmangani commented on #24
Thanks @dougbtv and @leftyb for nailing this down!

[2016-10-15 14:27] dougbtv commented on #24
Alright, thanks again for the contribution of the fix. I went ahead and put in some tests for Travis to verify that the cron job runs... I've got it in PR #27

[2016-10-16 14:37] #9 closed

[2016-10-16 14:44] dougbtv commented on #24
Alright, I went ahead and made the tests more reproducible, so, I think this should close out the issue. If anyone has any questions / comments, feel free to add 'em, otherwise I'm closing for now. Thanks again.

[2016-10-16 14:44] #24 closed

[2016-10-16 14:57] dougbtv commented on #22
I went ahead and used Alexandr's suggestion as the default, so the Kamailio config is updated to not define `WITH_HOMER_DEST_STATS`

[2016-10-16 15:04] #22 closed

[2017-02-07 20:32] davidcsi opened #34 "homer-docker rotation.ini"
Hello guys,

i'm running homer-docker as per https://github.com/sipcapture/homer-docker
running it with docker-composer, homer-cron can't connect to mysql, i have to manually change in rotation.ini

[code]
to:

[code]

and execute ./homer_rotate manually to create current date's tables.

Thanks

David

[2017-02-07 21:05] dougbtv commented on #34
Hrmmm, I should check and see if homer-cron is version pinned or not,
because that's previously worked in the past... .wonder if something
changed.

Also, wondering if there should be nightly Travis builds to account for
things that aren't version pinned as, changes can cause wonkiness like this.

On Tue, Feb 7, 2017 at 3:32 PM David Villasmil <notifications@github.com>
wrote:

[2017-02-08 18:07] mbrooks commented on #11
Tagging release versions would be nice. We're currently having to use the git commit hash as well. I can submit a PR if you guys are interesting in versioning this.

[2017-02-08 18:15] mbrooks commented on #20
@leftyb Out of curiosity, where are you setting the `--dbhost` option? What is the command you are trying to run?

[2017-02-08 18:49] lmangani commented on #20
@leftyb you should probably use the multi-container version as opposed to single container if you want to move the db and keep things tidy

[2017-02-08 22:18] mbrooks commented on #34
I have this issue too. The homer-cron probably needs to execute itself on startup or at least attempt to check that it has executed for the day. When it missed a day, bad things happen, since the bootstrap skips this step and will only setup a fresh database when it creates a totally new mysql DB.

[2017-02-08 22:47] dougbtv commented on #34
This one is a frustrating one to break for sure. I'm guessing this is a change in the way the homer crons run, still. I am still to look into it, but...

homer-cron does run the rotation script each time it's started (including the first time), it's here:

https://github.com/sipcapture/homer-docker/blob/master/cron/run.sh#L40

Additionally, there's also CI for it, too. But.... If there's a change,

[2017-02-08 22:51] lmangani commented on #34
@dougbtv no changes AFAIK but will doublecheck

[2017-02-08 23:06] davidcsi commented on #34
The run.sh does run the rotation, but the command is going to the wrong path, i think.

[2017-02-08 23:09] dougbtv commented on #34
Thanks guys, appreciate the eyeballs on it for sure. I should be able to
take a look in the next day or so and rebuild and ferret out what's going
on.

On Wed, Feb 8, 2017, 6:06 PM David Villasmil <notifications@github.com>
wrote:

[2017-03-07 14:41] davidcsi commented on #34
Fixed with commit
https://github.com/sipcapture/homer-docker/commit/73f6a112e79694466c378ffcc8ffa685c5ca029d

[2017-03-15 08:17] lmangani commented on #34
Thanks @davidcsi and @dougbtv closing this for now as resolved

[2017-03-15 08:17] #34 closed

[2017-03-15 08:30] shaunbro commented on #20
Ah sorry looks like I tried to open the same ticket

Document says to do something like this

docker run -tid --name homer5 -p 80:80 -p 9060:9060/udp sipcapture/homer-docker --dbhost 10.0.0.1 --dbuser homer_user -dbpass homer_password

files like

configuration.php

rotation.ini

do not get passed these values, although the run script seems to attempt this for at least the rotation file. Additiona

[2017-03-15 08:33] shaunbro commented on #20
@lmangani  can I suggest updating the docs to reflect that multi-container version is required to use an external mysql DB. The current docs are what is leading people to try this. It wasn't *too* much pain to get it working in a single container though.

[2017-03-15 08:41] lmangani commented on #20
@shaunbro how about contributing back the fixes instead? ;)

[2017-03-15 13:58] dougbtv opened #39 "healthcheck / readiness state instead of wait scripts"
Mostly note-to-self, but, we have some wait scripts, and I'm starting to wonder if we can use healthchecks instead: https://docs.docker.com/engine/reference/run/#healthcheck

[2017-03-15 14:04] lmangani commented on #39
@dougbtv this is juicy in so many ways....

[2017-03-16 00:32] shaunbro commented on #20
@lmangani , yes happy to although in my case I haven't really "fixed" the issue, more hacked around it!

I can detail everything I came across that needed to be changed. I had 2 major issues the first was that I couldn't restart the container if it was stopped, the run.sh script seems to fall over in this scenario. This lead to the second issue which was to move the DB externally so I could achiev

[2017-03-17 08:43] lmangani opened #40 "Modified path of mysql data & scripts in homer-api"
Note to self, we need to update the pointers for elements using homer-api mysql scripts as the location as been changed

```homer-api/sql``` -> ```homer-api/sql/mysql```
```homer-api/scripts``` -> ```homer-api/scripts/mysql```

[2017-03-17 11:19] dougbtv commented on #40
Thanks for the heads up!

On Fri, Mar 17, 2017, 4:50 AM Alexandr Dubovikov <notifications@github.com>
wrote:

[2017-03-17 17:28] dougbtv commented on #40
I'll come back to this a bit, but, seeing some failures in CI when I "just update the pinned versions and change the paths"

all output here: https://travis-ci.org/dougbtv/homer-docker/jobs/212197409

thought it might be quick, but, I gotta dig in a bit. Looks like something with either priming the tables with the table rotation cron job or something along those lines.

[2017-03-17 18:18] lmangani commented on #40
Wild first look guess, but shouldn't
[code]
be
[code]
?

[2017-03-17 18:20] dougbtv commented on #40
Worth a go :) Good eye, musta worked in the past, but, it makes more sense
to me too. giving it a try and push it through Travis to see what "he" has
to say, for kicks

On Fri, Mar 17, 2017 at 2:18 PM Lorenzo Mangani <notifications@github.com>
wrote:

[2017-03-17 18:25] lmangani commented on #20
could you kindly send a Pull Request with the changes so we can check each in detail with no ambiguity? greatly appreciated!

[2017-03-21 13:54] 00Asgaroth00 opened #41 "bootstrap-mysql permission denied when creating /homer-semaphore/.bootstrapped)"
Hi,

I've just tried to run the multiple container version of homer on a fresh install of centos-7 and docker.

When running the "docker-compose up" mysql appears to startup fine, the bootstrap.sh script then attempts to created the .bootstrapped file but this step fails with a permission denied error, which in turn causes the other containers to be in a waiting state.

[code]
The containers then

[2017-03-21 13:56] dougbtv commented on #41
What o/s are you running? My instinct guesses selinix enabled and it's
having trouble with permissions to write to a volume...

On Tue, Mar 21, 2017, 9:54 AM 00Asgaroth00 <notifications@github.com> wrote:

[2017-03-21 13:58] 00Asgaroth00 commented on #41
It's running CentOS 7 x64, I see selinux is in enforcing mode, let me disable it quick and give it another shot

[2017-03-21 14:06] 00Asgaroth00 commented on #41
hmm, now get a different error when trying to start up the containers after disabling selinux.

[code]

trying to start the containers yields:
[code]
If I then re-enable selinux then I'm presented with the permission denied issue while bootstrapping again.

[2017-03-21 14:51] 00Asgaroth00 commented on #41
That error seems to be a known race condition which is apparently fixed. I've just switched from loopback device storage mode to device mapper (thin pools) and I'm trying a build now with selinux disabled. I'll let you know how I get on.

[2017-03-21 14:54] dougbtv commented on #41
Nice sleuthing!!! Curious to see how it goes. I might create an issue
related to selinux as it bothers me to disable it, intellectually speaking.
Always wind up disabling it on Fedora/CentOS when using Docker but only
because I haven't taken the time to set it up properly.

On Tue, Mar 21, 2017, 10:51 AM 00Asgaroth00 <notifications@github.com>
wrote:

[2017-03-21 15:29] 00Asgaroth00 commented on #41
okay, the "docker-compose up" now seems to complete, but I've noticed the following error's for "homer-cron" image:

[code]

Is this normal for the initial startup?

[2017-03-29 22:32] davidcsi opened #42 "startup bug?"
Hello,

while building up homer-docker, I see two problems:

1- run.sh tries to execute the rotating script as "/opt/homer_rotate" which doesn't exists anymore, the correct script is "/opt/homer_mysql_rotate.pl"

2- while it tries to create the webrtc tables i get for both:

DBD::mysql::db do failed: Specified key was too long; max key length is 767 bytes at opt/homer_mysql_rotate.pl line 408.
Fai

[2017-03-30 11:06] adubovikov commented on #42
Did you try the last version ? IMHO it has been fixed already.

[2017-03-30 11:23] davidcsi commented on #42
Hello Alex,

Yes, this was yesterday fresh from the repo (i pulled on my repo from the upstream repo).
Here you can see the rotation is pointing to the wrong script:

https://github.com/sipcapture/homer-docker/blob/master/cron/run.sh#L21

and the actual script is:

https://github.com/sipcapture/homer-api/blob/da13a87b8eda55d4c597ce32270521249ab21dc4/scripts/homer_mysql_rotate.pl

(/opt/homer_mysql

[2017-03-30 11:35] adubovikov commented on #42
ok, thank you. We will check it ASAP

[2017-03-30 12:30] dougbtv commented on #42
I'm running it through CI right now, I'll report back when it finishes up

[2017-03-30 12:41] dougbtv commented on #42
Hrmmm, alright, CI didn't replicate the issue, it completed the builds and did the simple test (which is enough to get the data structures built, make a "test call" with the HEP generator, and then verify that there's results in the database [It doesn't test the UI anymore than just firing it up and seeing it the index returns a 200 OK]).

Here's the results: https://travis-ci.org/dougbtv/homer-do

[2017-03-30 12:44] dougbtv commented on #42
Update, now reading the logs....

From `docker logs homer-cron` we get:

[code]

So potentially this is an issue that isn't tested by CI, so, it can build, but, rotation might be failing?

[2017-03-30 12:50] davidcsi commented on #42
That's what happens to me. I also noticed webrtc tables were not created?

[2017-03-30 20:54] dougbtv commented on #42
Alright, I've got a suite of changes ready that bump up to the latest heads for homer-ui & homer-api, and also address some fixes for homer-cron container.

I'm going to run it through CI now and see how it behaves. If it looks good, I'll run a PR through and maybe ask for another set of eyes to test it if you don't mind.

This includes a patch for working-around the key-size, by changing the key

[2017-03-30 20:57] davidcsi commented on #42
Nice!
I can do testing in deploying manually, you can count on me. I need this to do my PR an ASR/ACD per component :)

[2017-03-30 21:13] dougbtv commented on #42
Looks like it didn't pass CI @ https://travis-ci.org/dougbtv/homer-docker/builds/216932850

If you want to try out what I've got so far, you can checkout the branch I have it pushed to:

[code]

It's the final check that fails. The thing it's testing is that on subsequent runs of the cron -- it creates the right tables. So what I'm worried about now is that it's working during the bootstrap phase,

[2017-03-30 21:28] dougbtv commented on #42
Alright @davidcsi pull request #43 created, it's passing CI @ https://travis-ci.org/dougbtv/homer-docker/builds/216940319

Personally I'm happy to merge into master now, but, if anyone has a hesitation, feel free to speak up

[2017-03-30 21:30] dougbtv commented on #40
I think #43 is going to fix this all up, too.

[2017-03-30 21:32] dougbtv commented on #41
Hey @00Asgaroth00 sorry for a slow reply here, but, there's a PR incoming #43 which has a number of fixes and should fix up the issues you're seeing with the cron container.

Some more detail in #42. Expect that PR to land... shortly.

[2017-03-30 22:01] #41 closed

[2017-03-30 22:02] #40 closed

[2017-04-06 12:59] dougbtv commented on #42
@davidcsi -- any chance to give it a whirl? Hoping no news is good news :)

[2017-04-07 13:04] davidcsi commented on #42
Sorry i didn't report it before!
It's working A-OK :)
I will re-deploye continuously as i'm implementing an ASR/ACD feature.

Regards,

David
ᐧ

Regards,

David Villasmil
email: david.villasmil.work@gmail.com
phone: +34669448337

On Thu, Apr 6, 2017 at 2:59 PM, Doug Smith <notifications@github.com> wrote:

[2017-04-07 14:06] dougbtv commented on #42
Awesome, glad you're giving it some mileage! I'll close out this issue for
now. Feel free to open another if you run into anything, appreciate the
feedback for sure.

On Fri, Apr 7, 2017, 9:04 AM David Villasmil <notifications@github.com>
wrote:

[2017-04-26 12:35] dougbtv commented on #42
I'm going to close this one down for now -- again thanks David for the report and giving some exercise to this deployment technique, as per usual -- feel free to open another issue if you encounter anything, appreciated the detailed report.

[2017-04-26 12:35] #42 closed

[2017-05-11 12:47] lmangani commented on #3
FYI moving builders to https://codefresh.io where there seems to be new (and much, much faster) ways to perform post-build tests... giving it a shot, if anyone wants to join I'll co-op you on the projects. Thanks!

[2017-05-11 12:53] dougbtv commented on #3
Sounds awesome Lorenzo -- I'll check back soon and hopefully change out the k8s pod specs to match the official namespace for the docker images (had used mine own for quickly iterating on rebuilding some images)

[2017-05-11 12:58] lmangani commented on #3
Thanks Doug! Feel free to push all/any changes to the master and let me know If I can get some work off your back in the process. BTW plenty of great mentions of you at both OpenSIPS Summit / KamailioWorld :)

[2017-05-11 13:07] danjenkins commented on #3
👍

[2017-07-13 13:30] dougbtv opened #49 "Cron failing in TravisCI"
Looks like the builds have been failing in Travis. Apparently at the point where it looks to see if the cron job[s] ran OK.

Mostly a note for myself to go in and debug what's causing the CI failure (or anyone else who wants to take a look!).

[2017-07-13 14:14] lmangani commented on #49
Have you noticed if this is for multi-container or all-in-one? or both?

[2017-07-13 14:23] dougbtv commented on #49
It's for multi-container, I don't think I have any end-to-end testing of the AIO container, just tests if the build completes for it. But e2e tests for the multi-container actually spins up the containers, then checks that cron ran and created the tables, further from there gens some traffic with hepgen and looks for a result in mysql.

[2017-07-18 00:48] TheSeanBrady opened #50 "mysql is broken, will not build"
Cloning the repo and running the following fails to build the stack, MySQL errors out:
[code]
Docker-compose logs output:
[code]
System information:
[code]

[2017-07-18 11:59] dougbtv commented on #50
Thanks for the heads up, I'll try to replicate and come up with a fix.
Appreciate the log output​, too.

On Mon, Jul 17, 2017, 8:48 PM Sean Brady <notifications@github.com> wrote:

[2017-07-18 14:08] TheSeanBrady commented on #50
I'm doing the same here. Not sure what the underlying issue is yet, figured
I'd just dump into the bug report until we got it figured. Interestingly it
works on my machine but not on a Debian server. I'm still looking for my
human error but thus far I haven't found it.
On Tue, Jul 18, 2017 at 5:59 AM Doug Smith <notifications@github.com> wrote:

[2017-07-18 16:02] lmangani commented on #50
Could this be an out of memory issue simply?

[2017-07-18 16:33] TheSeanBrady commented on #50
Bingo!! Thanks so much, really appreicated, and I apologize for spamming the bug tracker.

[2017-07-18 16:33] #50 closed

[2017-10-16 09:15] davidcsi opened #53 "Can't get ket from keyserver.ubuntu.com"
Hello, I'm facing a problem i can't make heads or tails fro, when building docker-compose:

Executing: gpg --ignore-time-conflict --no-options --no-default-keyring --homedir /tmp/tmp.XAXjhwUji4 --no-auto-check-trustdb --trust-model always --primary-keyring /etc/apt/trusted.gpg --keyring /etc/apt/trusted.gpg.d/debian-archive-jessie-automatic.gpg --keyring /etc/apt/trusted.gpg.d/debian-archive-jessi

[2017-10-16 09:17] davidcsi commented on #53
Nevermind, restarting docker fixed the problem...

[2017-10-16 09:17] #53 closed

[2017-10-16 14:34] arainero opened #54 "RTCP Information not being displayed"
Hello,

I am currently using the latest homer-docker version and I am having difficulty getting RTCP information displayed under QoS reports.

When I check the database I see there is JSON information there. I looked at the apache logs and I don't see anything unusual there either. I don't know what config files or logs to post that would be helpful. So please, let me know and I will provide them.

[2017-10-16 14:52] dougbtv commented on #54
Thanks for the report on this one, there's a couple things here as a todo...

Firstly... RTCP info hasn't been verified on homer-docker (at least by me), so, it can use a full-out double check on that, and then Travis CI tests to verify that it's there.

Regarding the timezone, can you try changing the value in the `homer.env` file and see if that works and let us know. This one: https://github.co

[2017-10-16 15:14] arainero commented on #54
This is what I see in the database for call id "7a16ed6b6f0b1d4f6271c9657704527b@10.10.10.42:5060". This would be considered proper RTCP data, right?

[code]

I modified the homer.env to be "America/New_York" did a docker-compose down, then a docker-compose build (is this step necessary?), and finally docker-compose up.

The time didn't change. I also modified the .travis.yml file too. I noticed i

[2017-10-16 15:24] dougbtv commented on #54
Thanks for the extra info. No action necessary on your part, for making the new travis CI tests (unless you want to contribute, which would be much appreciated as always).

I'm going to open a new issue for the timezone, I'll reference this issue.

[2017-10-16 15:25] dougbtv opened #55 "Timezone environment variable not being honored"
@arainero reported that the Timezone environment variable, as found @ https://github.com/sipcapture/homer-docker/blob/master/homer.env#L2 is apparently not being honored.

1. Need to reproduce and fix
2. Need to add tests to verify it works

Issue broken out from report in #54

[2017-10-18 12:05] arainero commented on #54
I'm starting to wonder if the timezone might be the reason the RTCP stats aren't displayed. Is there an easy way to confirm this or is that not possibly the case?

[2017-10-18 12:46] dougbtv commented on #54
That's.... actually a good idea to check. Exec into the mysql container,
and look for the rtcp tables and see if there's any data there, way worth a
look.

On Wed, Oct 18, 2017 at 8:05 AM arainero <notifications@github.com> wrote:

[2017-10-18 14:07] arainero commented on #54
@dougbtv

I see that the date column has a different time from the "ntp_timestamp_sec" entry. Would this do it?

You can see the differences I'm talking about from my previous post.

[2017-10-19 11:37] arainero commented on #49
@dougbtv

I think I am suffering from this issue or something similar to it. I notice that after running Homer for more than one day and less than 4 nothing gets recorded anymore. I don't have an exact time frame at the moment.

The temporary solution was to do a docker-compose down and docker-compose up.

After googling around my issue seems related to this.

[2017-10-25 14:29] arainero opened #56 "Homer fails to capture after a few days of running"
Hello,

It appears that Homer stops capturing data after being ran for a few days. If I do a docker-compose down and docker-compose up Homer starts to capture and display new data again. Old data is still accessible.

I do not know for certain, but I suspect it has to do with rotation. Any advice would be appreciated.

[2017-10-25 14:29] arainero commented on #54
@lmangani do you have any thoughts on this?

[2017-10-25 14:30] lmangani commented on #56
Hi @arainero this sounds definitely like rotation - we're working this issue, for now in order to confirm could you execute the rotation script manually inside the container?

[2017-10-25 14:39] lmangani commented on #54
I still need to review the exact details, but time is extracted from the packets so that's most likely what was sent. Mind internally to HOMER everything is and should be UTC in order for things to correlate correctly, multiple timezones will confuse the pairing or completely impair it.

[2017-10-25 20:10] arainero commented on #56
Executing /opt/homer_mysql_rotate.pl in the homer-cron container appears to have resolved this issue for now.

[2017-10-25 20:12] arainero commented on #54
@lmangani Ok, I see what you mean about everything being in UTC for consistency. That makes me believe it may not be a time issue after all then.

Is there anything you want me to provide to you to help narrow this down?

[2017-10-25 21:20] lmangani commented on #56
If anyone feels brave enough to give take this for a spin and improve it, I hacked together a test image at ```sipcapture/homer-nocron``` which should just do fine with a dynamic sleep timer instead of an actual cron job for something so simple, should hot-swap replace ```homer-cron``` in a compose

[2017-10-25 21:22] lmangani commented on #49
@dougbtv hey buddy there was an attempt to remove cron from the mix here, up for a look and comments: https://github.com/lmangani/homer-nocron

Thanks!

[2017-11-06 17:20] davidmaitland commented on #56
I'm having the same issue. I'm having to run `/opt/homer_mysql_rotate.pl` every week or so, I'm guessing the cron isn't actually running but I can't see any obvious errors.

@lmangani I'm going to give `sipcapture/homer-nocron` a go.

[2017-11-06 17:24] lmangani commented on #56
Hi @davidmaitland please let me know your results, this seems to be a common issue it could solve, but needs some hands to test

[2017-11-06 18:28] davidmaitland commented on #56
@lmangani it's stuck in a restart loop at the moment. Any ideas? Let me know if you want me to create a new issue for this.

[code]

[2017-11-07 21:33] lmangani commented on #56
@davidmaitland if you could post that in the homer-nocron repo we can quickly resolve it, thanks!

[2018-01-07 03:05] sfrique commented on #11
Also it would be nice to build the images and pull it to somewhere (docker hub?).
So new users don't have to build the image, only use it.

[2018-01-14 15:57] mattwilliamson commented on #20
I had the same issue.

[2018-01-14 16:10] mattwilliamson commented on #20
I'm trying to launch it in a mutli-container environment, but I'm not finding good directions how to do it without using docker compose. I'm using rancher. When I launch the containers, I just see

    Homer web app, waiting for MySQL

[2018-01-14 16:11] lmangani commented on #20
@shaunbro can you submit a PR with those changes for everyone?
@mattwilliamson for Rancher you can take [this](https://github.com/QXIP/rancher-catalog/tree/master/templates/homer/5) as starting point, might need some work!

[2018-01-14 16:27] mattwilliamson commented on #20
@lmangani thanks! I'll try it!

[2018-01-14 16:32] mattwilliamson commented on #20
@lmangani for starters, there's no entry for `DB_HOST`

[2018-01-14 16:41] lmangani commented on #20
@mattwilliamson please open a new issue if you want to check that out. As mentioned it'll need some work.

[2018-01-20 05:02] sudermanjr commented on #54
I can't comment on the TZ stuff because I run everything in UTC.  However, I do have RTCP stats working in homer-docker.  What I had to do was edit the preferences.php on the webapp to read:

[code]

I got some info here:
https://github.com/sipcapture/homer-api/issues/161

Looks like the some of the default config in the homer-docker capture stuff uses a single table to handle all the rtcp data in

[2018-01-20 12:02] lmangani commented on #54
@sudermanjr well caught! This is indeed the issue and needs to be reflected in defaults.

[2018-01-22 20:59] arainero commented on #53
This happened to me as well and restarting Docker fixed it too.

[2018-01-22 21:34] arainero commented on #54
Hey @lmangani, I am going to revisit this now. I am inside the homer-webapp container and I see that inside homer-api/api there is the following:

`Authentication  RestApi      autoload.php               preferences_example.php
COPYING         RestService  configuration_example.php
Database        Statistic    index.php
`

Do I need to rename preferences_example.php to preferences.php or does it u

[2018-01-24 20:36] arainero commented on #54
I think I was going about this incorrectly. Instead of modifying the files within the container I realized that there was a preferences.php file in homer-docker/webapp. I added:

`define('RTCP_TABLE_PARTITION', 0);`

to the prefercenes.php file and I still can't get RTCP stats to show.

This is with a fresh docker install. @sudermanjr, did you have to do anything else for it to work? I also tried:

[2018-01-24 20:41] arainero commented on #54
I just got it to work! I didn't know I had to do a docker-compose build after modifying the files (it makes sense now). I thought that after taking the container down and modifying the environment file in there it would work fine, but I was incorrect.

Thank you all for the help with this.

[2018-01-25 09:59] lmangani commented on #54
I'll change the defaults to avoid this in the future! Images are being rebuilt, if you feel like trying to confirm it now works without modification, that's super super welcome!

[2018-01-25 17:48] arainero commented on #54
I did not try your build yet, but I did test "define('RTCP_TABLE_PARTITION', 1);" and "define('RTCP_TABLE_PARTITION', 0);" and only "define('RTCP_TABLE_PARTITION', 0);" works for me. If it is set to 1 the data does not show. (this was after doing a docker-compose build).

[2018-01-29 16:29] gudge25 opened #58 "CANT USE DOCKER"
[root@sip ~]# docker run -it -v /tmp/homer_mysql/:/var/lib/mysql --name homer5 -p 80:80 -p 9060:9060/udp sipcapture/homer-docker
Unable to find image 'sipcapture/homer-docker:latest' locally
latest: Pulling from sipcapture/homer-docker
10a267c67f42: Pull complete
afff4b2ee6a3: Pull complete
8c49780af0c4: Pull complete
8b499f11f401: Pull complete
7ac4dffd4d1c: Pull complete
b2115fadcb66: Pull compl

[2018-01-29 16:56] lmangani commented on #58
Hi @gudge25 it seems you're mapping a folder w/ existing contents and the all-in-one package does not happily play with that unless the "initialized" flag is found on the filesystem, ie: ```$DATADIR/.homer_initialized```

Was this a brand new setup with existing MySQL data, migration to container, or something else?
Thanks & Hope this helps!

[2018-01-29 17:00] gudge25 commented on #58
hi @lmangani  this   is a  new install (reinstall but i delete all  volumes and images  before  reinstall ) -- so think that it is a new one install

[2018-02-02 19:45] arainero commented on #56
I don't know if this is related or not, but I haven't had this issue occur again after changing adding "define('RTCP_TABLE_PARTITION', 0);" to webapp/preferences.php.

[2018-02-02 21:01] arainero opened #59 "Using docker with external DB"
I am experiencing an issue when using an external database that data will not show up on the website. I have gotten this to fully work when using the docker database and making no modifications.

I configured an external database in the homer.env file. I set the following fields:

DB_USER=homer, DB_PASS=XXXXXXX, USE_REMOTE_MYSQL=true, and DB_HOT=x.x.x.x

After doing a docker-build and docker-compo

[2018-02-06 14:56] arainero commented on #59
Something that I noticed is that SOME data appears to show for certain places, but not when searching. For instance, on the dashboard the SIPCapture Charts is populated:

![image](https://user-images.githubusercontent.com/26636903/35865974-ef470984-0b23-11e8-8795-b7728820ea38.png)

But when I go to the search page nothing is returned.

@lmangani do you have any idea what is going on?

[2018-02-06 19:47] davehorton opened #60 "homer-complete without cron for use in kubernetes?"
Can you publish a version of homer-complete that does *not* contain homer-cron?  I see you have a `homer-cron-k8s` folder with the Dockerfile, and I would like to be able to run a k8s deployment that uses a k8s CronJob instead of the homer-cron image...

[2018-02-06 22:15] lmangani commented on #60
@davehorton you can create your own flavour of image using the sources as starting point, or even better switch to the multicontainer setup, if you need help let us know here - there's also a baseline homer-docker [k8s](https://github.com/dougbtv/homer-docker/tree/k8s) by the perpetually awesome @dougbtv you might want to try out, too!

[2018-02-06 22:15] #60 closed

[2018-02-06 22:22] lmangani commented on #59
@arainero as a starter, make sure you hit "clear" on the form to avoid ghost parameters impacting search - the statistics are generated from actual messages, so both should be on the system most definitely.

[2018-02-06 22:51] arainero commented on #59
I tried clearing before doing a search and that didn't help.

In the database I see the data being generated. It seems like the site just
isn't pulling it. I didn't see anything useful in http logs either.

On Feb 6, 2018 5:22 PM, "Lorenzo Mangani" <notifications@github.com> wrote:

[2018-02-06 22:54] lmangani commented on #59
This might sound silly but... you selected a timerange, right? This is a known deficiency in new homer installations, they default to an old date and confuse some users. If data is in the db, it should be returned.

[2018-02-06 22:55] arainero commented on #59
I usually select "last 10 minutes" and get results.

On Feb 6, 2018 5:54 PM, "Lorenzo Mangani" <notifications@github.com> wrote:

This might sound silly but... you selected a timerange, right? This is a
known deficiency in new homer installations, they default to an old date
and confuse some users. If data is in the db, it should be returned.

—
You are receiving this because you were mentioned.
R

[2018-02-06 22:57] lmangani commented on #59
@arainero you'll have to provide more details to understand whats happening, such as some example data you see in DB to confirm why it wouldn't be returned as a starter.

[2018-02-08 20:37] davehorton opened #61 "question about trying to use cron-k8s as the image for a Kubernetes cron job"
Per the title, I'm using the Dockerfile in cron-k8s to build an image that I then deploy as a k8s CronJob.  But, don't we need to actually exec `/opt/homer_mysql_rotate.pl' in run.sh ?  I'm unclear otherwise how it would work

[2018-02-08 20:50] dougbtv commented on #61
Hey Dave -- are you looking at [this block](https://github.com/sipcapture/homer-docker/blob/master/k8s/deploy.yaml#L217-L257) in the deploy.yaml?

At the time I wrote that I decided to drop it because it was still an alpha feature, so... I'm unsure where I left off with it, or if I ever had it working, but decided to keep that commented out block for reference.

You're on the right track though --

[2018-02-08 20:54] dougbtv commented on #61
Alright, I'm reading through more now (like actually reading the file you linked), and.... I think you're right -- that run.sh is missing actually... running the cron job, good eye.

[2018-02-09 19:00] arainero commented on #59
In the homer_data database I see that it is making new tables for every new day.

![image](https://user-images.githubusercontent.com/26636903/36043613-df03859e-0d9d-11e8-82f3-13765ab7f09c.png)

Data is populating the tables too. I read your previous comment again about the time suggestion. I modified the dates and I was able to get one row to return in the search results, but I was unable to repro

[2018-02-09 19:05] arainero commented on #59
Another thing I noticed and I don't know if it is related at all, but the dashboard has stopped appearing for some reason:

![image](https://user-images.githubusercontent.com/26636903/36044945-2c70fc86-0da2-11e8-8595-1223cadb5889.png)

This is all that I can see now.

[2018-02-13 16:24] hitokiri82 opened #62 "SIP Search results page is always empty"
When making a query using the SIP search, if I choose the Result Type Table the resulting table is always empty. If I choose TEXT, COUNT or PCAP, I do get a result.
If I check the Network tab on Chrome's developer tools, I see a request to /api/v1/search/data which contains a response with a JSON object containing all the packets for the result of the query but they are not represented in the tabl

[2018-02-13 16:27] hitokiri82 opened #63 "SIP search generates an invalid pcap file"
When doing a SIP search, if I choose the ResultType PCAP, I do get a pcap file, but it is reported by Wireshark and by https://packettotal.com/ as an invalid pcap file.

[2018-02-13 16:29] lmangani commented on #63
Related to #62

[2018-02-13 16:29] lmangani commented on #62
Hi @hitokiri82 did you select a time-range? could you attache the API response to check out?

[2018-02-13 16:50] hitokiri82 commented on #62
Hello @lmangani .

Yes I did.

## **Request:**

POST /api/v1/search/data HTTP/1.1
{
  "param": {
    "transaction": {

    },
    "limit": 200,
    "search": {
      "callid": "2f409e0a-8b79-1236-13a3-56ed9f9ef330"
    },
    "location": {
      "node": [
        {
          "id": "1",
          "name": "node1"
        },
        {
          "id": "21",
          "name": "external"
        }

[2018-02-13 16:57] hitokiri82 commented on #63
I'm not sure is related, because I do get a pcap file, which I've run through [pcapfix](http://f00l.de/hacking/pcapfix.php) which reports the following errors with the file:

[*] Reading from file: /tmp/phpqoQUff
[*] Writing to file: fixed_phpqoQUff
[*] File size: 17461 bytes.
[*] Unknown file type. Assuming PCAP format.
[*] Analyzing Global Header...
[-] Magic number: 0xb2c3d40a
[-] Major version

[2018-02-13 17:07] lmangani commented on #62
Hi @hitokiri82 I just fired up a vanilla `homer-docker` container with no modifications, sent a few packets in using `hepgen` and it all works great. I can't reproduce this - did you modify the setup in any way?

![image](https://user-images.githubusercontent.com/1423657/36163117-ada4b0c4-10e8-11e8-9af4-d925d49b9034.png)

[2018-02-13 17:13] hitokiri82 commented on #62
Only change is the port on which the webapp listens.

[2018-02-13 17:14] lmangani commented on #63
I see, you did not specify the contents were actually there, you just said invalid :)
Reopening - could you attach the PCAP before and after the fix? I can't currently replicate one.

[2018-02-13 17:17] lmangani commented on #62
Oh! You're using the multi-container app - this is an important detail. Let me take a look there.

[2018-02-13 17:19] hitokiri82 commented on #62
Would you recommend that we use the single container version for now? It's not a problem for us. I just assumed the multi container was the latest version.

[2018-02-13 17:27] lmangani commented on #62
Actually the multi-container might lag a little behind at this time. For sure, the current multi-container webapp was building from an outdated release, its currently rebuilding and hopefully will sort this. Please standby for a retest. Thanks for bringing this up.

[2018-02-13 17:29] hitokiri82 commented on #63
Sure. Also, I'm using the multi container version of the app.

[pcaps.zip](https://github.com/sipcapture/homer-docker/files/1720936/pcaps.zip)

[2018-02-13 17:34] lmangani commented on #62
@hitokiri82 webapp container is updated, could you give it a shot?

[2018-02-13 17:51] hitokiri82 commented on #62
@lmangani  Search is working correctly now! Thanks a lot man.

[2018-02-13 17:57] lmangani commented on #62
Excellent! let us know if you spot other issues and possibly, if the PCAP issue is also gone.

[2018-02-13 17:57] #62 closed

[2018-02-13 17:57] lmangani commented on #63
Ready to re-test - thanks

[2018-02-13 17:59] hitokiri82 commented on #63
I re-tested, still getting invalid pcap file.

[2018-02-13 20:01] lmangani commented on #63
If you could provide a sample here or privately? I can't quite reproduce it, if other users are please step forward :)

[2018-03-02 21:15] przeqpiciel opened #64 "homer-cron mysql-rotate wont work"
Hi,

i suppose that run.sh script dont work properly. After run it there is no new tables in my database, and all what i see is:
root@b375e8a032dd:/# /opt/homer_mysql_rotate
Use of uninitialized value $partstep in array element at /opt/homer_mysql_rotate.pl line 324.
Use of uninitialized value $partstep in array element at /opt/homer_mysql_rotate.pl line 326.
Use of uninitialized value $partstep i

[2018-03-02 22:48] lmangani commented on #64
Hi @przeqpiciel Is this a recent installation? This should have been solved a while back.

[2018-03-03 08:36] przeqpiciel commented on #64
You know, I am tottaly new with docker. But I just be sure i got latest git of  and yesterday (02.03.2018) i just make new docker-build. So i guess i have got recent installation.

[2018-03-04 07:03] przeqpiciel commented on #64
Hi,
When I wrote 'there is no new table' I mean script doesn't create table with template [name]_[actualdate]. I took quick look on tcpdump on mysql side and saw that is each INSERT query trying put data to that tables ([tableName]_[actualDate]). So how to automaticly create table for each day ?

[2018-03-08 12:45] hitokiri82 commented on #64
I think I'm also being affected by this bug. Using multi container solution, I cant get the system to work correctly, even from a fresh start.

I've tested starting first the bootstrap service which runs without a problem, and then the cron service and I get the following error, or some variation of it all over the output:
`
homer-cron   | DBD::mysql::st execute failed: Table 'homer_data.sip_captu

[2018-03-08 12:50] lmangani commented on #64
Hi @hitokiri82 could you try swapping the `homer-cron` container with `sipcapture/homer-nocron` and check if it solves your issue?

[2018-03-08 14:56] hitokiri82 commented on #64
Ok. I tried homer-nocron.
It seems to have worked correctly. The output of that container is:
[code]

So how can we test if this will work correclty from now on? Because based on the names of the database tables I assume that this has to rotate the tables everyday, right?

[2018-03-08 15:05] lmangani commented on #64
The final error is not expected - while I try to figure that out, you can check and see tomorrow if there are new tables being created.

[2018-03-08 15:06] hitokiri82 commented on #64
Those messages I pasted repeat periodically on the log of that container

[2018-03-08 15:26] lmangani commented on #64
@hitokiri82 I'm rebuilding the `homer-nocron` image with the fix, please standby

[2018-03-08 15:35] lmangani commented on #64
@hitokiri82 could you try update the `homer-nocron` container and see if the errors are gone? The `$partstep` one was fixed quite a while ago so i'm surprised to see it here. Is this a fresh setup?

[2018-03-08 16:34] hitokiri82 commented on #64
I just did a docker pull for homer-nocron and I'm not getting a new image. The one that is on docker-hub is 4 months old.

This is a fresh setup, meaning that I recreated all the containers and all the data-volumes.

[2018-03-08 16:58] hitokiri82 commented on #64
I was looking at [this one](https://hub.docker.com/r/sipcapture/homer-nocron/)

Let me change the image source and try again.

I've added it to my docker-compose like this:
[code]

Other than the source for the image, does that look ok to you?

[2018-03-08 17:07] hitokiri82 commented on #64
With this new nocron image I get this output:

[code]

[2018-03-08 17:08] lmangani commented on #64
That's a good sign. It should have executed the rotation, and will sleep 13 hours until the next one.

[2018-03-08 17:13] hitokiri82 commented on #64
Is the time at which the rotation runs important, or is it just a matter of it running everyday?

The way to check if this is working correctly is that tomorrow there should be a new table with tomorrow's date, right?

[2018-03-08 17:15] lmangani commented on #64
The time of rotation is extracted from the `rotation.ini` and defaults to 4AM when unset. As of the rest, correct, tomorrow you should see a new counter for 24h or 86400 and new tables for the next 2 days in db. Please confirm so we can officially swap the cron image with this one for others, too.

Thanks!

[2018-03-09 16:43] hitokiri82 commented on #64
This is the state of my database when using the nocron container, it seems to be working correctly:
[code]

[2018-03-09 17:05] hitokiri82 commented on #64
On the other hand, for some reason, homer hasnt been able to capture any packets since yesterday at 2018-03-08 17:04:42 UTC. Do you think it might be related to the rotation thing, or should I open a new issue?

[code]

[2018-03-09 17:11] lmangani commented on #64
Not normal. Please check the kamailio logs - if there are insert errors they should be well visible.

[2018-03-09 17:54] hitokiri82 commented on #63
How can I get the pcap file to you privately?

[2018-03-10 12:54] lmangani commented on #63
support at sipcapture dot org

[2018-03-12 16:03] hitokiri82 commented on #63
Sent

[2018-04-04 10:55] mmughal01 commented on #63
I get the same issue that Wireshark reports that the downloaded pcap file is corrupt.  If I revert to the previous version of homer-docker I can successfully download the pcap file.

![image](https://user-images.githubusercontent.com/18461240/38303802-fb01aba0-37fe-11e8-8676-493fc71e4466.png)

[2018-04-13 11:48] gudge25 commented on #58
ok after clearing /tmp/homer_mysql    it started
but i loose  all the data
why i should delete my data to recreate  homer  ?

[2018-04-13 12:37] lmangani commented on #58
You should not, definitely - this seems to be a local issue and generic to docker, not homer perhaps?

[2018-04-16 09:45] gudge25 commented on #20
got the same isssue
docker is not  working
COMMAND:
[root@sip ~]# docker run -tid --name homer5 -p 80:80 -p 9060:9060/udp sipcapture/homer-docker --dbhost 172.17.0.1 --dbuser root -dbpass L5Px4YOrnw23MWZsCx
f58cc36092bbe4d53e5115c74cd02d648bed57edaf079b6c84f123bc90f53e77
[root@sip ~]#

my log
[log.txt](https://github.com/sipcapture/homer-docker/files/1914716/log.txt)

[2018-04-23 13:57] gudge25 opened #66 "running-with-an-external-mysql"
https://github.com/sipcapture/homer-docker#running-with-an-external-mysql
NOT  WORKING
DOCKER  stopped

[2018-04-23 14:11] lmangani commented on #66
Wow, that's a short report. We provide bootstrap examples, not a guarantee they'll work out of the box - If you want to run Docker homer w/ external database you'll have to carefully customize things to your needs based on the provided examples. If you have specific questions, happy to try help.

[2018-04-23 14:11] #66 closed

[2018-04-23 14:54] gudge25 commented on #66
23T13:55:21.940962357Z DB_USER set to: homer_user

23T13:55:22.006513908Z loading modules under config path: //usr/lib/x86_64-linux-gnu/kamailio/modules/

23T13:55:22.051008705Z  0(23) WARNING: <core> [core/socket_info.c:1314]: fix_hostname(): could not rev. resolve 0.0.0.0

23T13:55:22.051031495Z Listening on

23T13:55:22.051036099Z              udp: 0.0.0.0:9060

23T13:55:22.051040278Z Aliases:

[2018-04-23 14:54] gudge25 commented on #66
why in log i see  db_mysql [km_my_con.c:129]: db_mysql_new_connection(): driver error: Can't connect to MySQL server on '127.0.0.1' (111) ????

[2018-04-23 15:16] gudge25 opened #67 "running-with-an-external-mysql"
https://github.com/sipcapture/homer-docker#running-with-an-external-mysql

NOT WORKING PARAMETER     --dbhost -h
no matter  what is setup in host logs  are :laughing:

23T13:55:22.235226765Z [0;31;49m[0;31;49m 1(42) ERROR: db_mysql [km_my_con.c:129]: db_mysql_new_connection(): driver error: Can't connect to MySQL server on '127.0.0.1' (111)

23T13:55:22.235267351Z  3(44) ERROR: sipcapture [sipca

[2018-04-23 19:38] lmangani commented on #67
What is the actual syntax you are using? `--dbhost 1.2.3.4` ? Unless you see a message `DB_HOST set to: 1.2.3.4` the [parameter](https://github.com/sipcapture/homer-docker/blob/master/everything/run.sh#L49) is not being passed to the container

[2018-04-23 19:39] #64 closed

[2018-04-24 11:14] gudge25 commented on #67
ok my example
docker run -tid --name homer5 -p 80:80 -p 9060:9060/udp sipcapture/homer-docker --dbhost 176.111.58.100 --dbuser homer_user -dbpass homer_password

LOGS:

`24T11:10:29.225919433Z **DB_HOST set to: 176.111.58.100**

24T11:10:29.225968885Z **DB_USER set to: homer_user**

24T11:10:29.260276307Z loading modules under config path: //usr/lib/x86_64-linux-gnu/kamailio/modules/

24T11:10:29.

[2018-05-09 15:55] tramontano commented on #63
I'm having the same issue on multi-container.

[2018-05-29 23:19] SKletsov commented on #63
also i have this bug

[2018-05-29 23:34] SKletsov opened #68 "brocken pcap file"
i am download file after i am open wireshack
and i have notice this file brocken

[2018-05-29 23:34] SKletsov commented on #68
latest version docker compose

[2018-05-29 23:35] SKletsov commented on #68
<img width="635" alt="2018-05-30 2 35 19" src="https://user-images.githubusercontent.com/25709594/40690931-20e9a5d2-63b2-11e8-86f2-6335af8fe8a0.png">

[2018-05-30 12:02] SKletsov commented on #68
i am create  docker-compose
with  only  containers and connect to external database

version: '2'
services:

    homer:
#    build: .
     restart: always
     image: sipcapture/homer-docker
     container_name: homer

     ports:
         - "9065:9060/udp"
         - "82:80"

     environment:
        - 'dbhost=127.0.0.1'
        - 'dbuser=homer_user'
        - 'dbpass=qld501a87'

this it is work

[2018-06-13 06:03] games130 commented on #63
i am also experiencing this problem. I am using the latest docker file build on 2018-06-09.
Build Code: bqgodfppdgbru3vdtxxitx5

[2018-07-05 10:43] hieupnvcc opened #69 "docker heplify-server homer7 password default incorrect"
i tried default id password (admin/test123) but cant login homer7

[2018-07-05 10:45] negbie commented on #69
https://github.com/sipcapture/homer-app/blob/master/seeds/01_Users.js

admin/sipcapture

[2018-07-05 10:49] hieupnvcc commented on #69
thanks for fast reply!

[2018-07-05 11:46] lmangani commented on #69
Fixed in readmes thanks for your report @hieupnvcc

[2018-07-05 11:46] #69 closed

[2018-07-07 12:18] astrakid opened #70 "hom7-hep-prom-graf no SIP-calls"
hi,
using this docker compilation i don't get any SIP-calls-information in homer-webapp. not clear if it is missing in DB or just an issue with the frontend.
using hom5-hep-prom-graf everything is fine.

regards,
andre

[2018-07-07 12:42] astrakid commented on #70
yes, in the DB homer_data, table hep_proto_1_call_20180707_1200 i can see a call:

{"sid": "1
3271507130516-487175622937@x.x.x.x", "method": "INVITE", "to_user": "080033010
00", "pid_user": "", "auth_user": "xxx", "from_user": "xxx", "ruri_user": "0800330
1000", "source_ip": "x.x.x.x", "create_date": "2018-07-07 12:26:27.012", [....]

[2018-07-07 12:48] lmangani commented on #70
Please kill the existing search widget, create a new one for SIP protocol and CALL transaction type.
It should return results.

[2018-07-07 12:50] astrakid commented on #70
aboslutely right! thanks!!!

[2018-07-07 13:03] lmangani commented on #70
the "defaults" are pretty broken indeed, need a major cleanup.

[2018-07-09 14:11] #70 closed

[2018-08-04 08:37] negbie commented on #63
Should be fixed with https://github.com/sipcapture/homer-docker/commit/47975cc49d3bcd8cb3f9897be56652e470e8adb4

Update your preferences.php or your containers when you are using docker.

[2018-08-04 08:37] #63 closed

[2018-08-04 08:42] negbie commented on #68
It should be fixed now. Please update the homer-webapp container. Thank you.

[2018-08-04 08:42] #68 closed

[2018-08-06 07:41] danceinrain opened #71 "unknown function in opensips/opensips.cfg"
In line 378 and 379,I found a function $ctime().But I can't find the function in opensips official documents.Could you please explain the function?Thanks very much

[2018-08-06 07:42] danceinrain commented on #71
And the code is as below:
[code]

[2018-08-14 07:03] waynemillskidals opened #72 "Timelion examples do not work"
When trying to use your Timelion examples for the Elasticsearch (external) docker build we do not appear to get them working in ES

Usage :
**` .es(index=hep-*, timefield=@timestamp,q='measurement_name:"heplify_method_response" AND tag.method:"REGISTER" AND tag.response:"200"', metric=max:heplify_method_response.counter).derivative().abs().mvavg(1m).scale_interval(1s).yaxis(min=0).color(orange).li

[2018-08-14 08:05] lmangani commented on #72
What version of Kibana (and consequently Timelion) are you using? The above requires at least 6.x

[2018-08-14 08:07] waynemillskidals commented on #72
I guess thats the issue as we are running 5.6.1

I will upgrade

[2018-08-14 08:07] #72 closed

[2018-08-14 08:10] lmangani commented on #72
@waynemillskidals you don't necessarily have to, just need to adjust your timelion formula to eliminate the functions it doens't feature in 5.x (such as the one it complains about)

[2018-09-06 12:44] vtzan commented on #54
Dear Team,

I have verified that RTCP Stats to work for current homer-docker on multi-containers installation the
value on preferences.php that resides on /var/www/html/api  in the homer-webapp container should be set to 0.

`define('RTCP_TABLE_PARTITION', 0);`

This is needed because all the RTCP the data is saved to the `rtcp_capture table`

The rotating tables are created successfully in the DB

[2018-10-11 00:35] soulofmischief87 opened #82 "Data too long for column msg"
Hello,

I am running the latest pull of homer docker as a single container but I am having issues storing any captures. Attaching myself to the logs displays the following:

5) ERROR: <core> [db_query.c:235]: db_do_insert_cmd(): error while submitting query
 4(405) ERROR: db_mysql [km_dbase.c:128]: db_mysql_submit_query(): driver error on query: Data too long for column 'msg' at row 1 (1406)
 4(40

[2018-10-20 11:30] lmangani opened #83 "image store"

[2018-10-20 11:30] #83 closed

[2018-10-20 11:33] lmangani commented on #83
![ezgif com-optimize 11](https://user-images.githubusercontent.com/1423657/47255154-c915b680-d46c-11e8-9ccb-882a0ed86f4a.gif)

[2018-10-20 16:11] lmangani commented on #83
![image](https://user-images.githubusercontent.com/1423657/47257858-83201900-d493-11e8-9242-49f5f38854c6.png)

[2018-10-26 05:46] pdf commented on #55
Suspect this is due to `HOMER_TIMEZONE` being statically defined in `preferences.php` everywhere, rather than populated from env in `configuration.php`.

[2018-11-13 23:30] tcreek opened #84 "Cannot log into Homer"
For the Docker image, Homer 7 HEP Elastic, just cloned/tested today.

When trying to  log into the portal on port 9090, there is no response, or indication of bad login.

I am using the usual credentials admin/test123.

[2018-11-14 12:17] overload08 commented on #84
Found it! The password is "sipcapture"

[2018-11-29 03:05] tcreek commented on #84
Thanks for that. I guess it could be construed as an issue as it is not documented.

[2018-11-29 08:49] lmangani commented on #84
As things get tested and stable, we'll release a full guide - Right now,
this is documented in the Docker containers README files, ie:

   - Homer localhost:9080 (admin/sipcapture)

Kind Regards,

Lorenzo Mangani
*Managing Director and Core Dev*

QXIP BV - Capture Engineering
Amsterdam, The Netherlands

CONFIDENTIALITY NOTICE: This e-mail message, including any attachments, is
for the sole use of

[2018-11-30 07:23] haeferer opened #86 "Using Docker Samples with Docker for Windows"
Thx to all for the nice work,

we started using homer but had Problem to get Homer Running using the Images published on hub.docker.com. Especialy on Docker for windows

All sample scripts currently do not contain tagging informations, so the docker uses default (witch is :latest  ).
:latest is currently 9 Months old.

Using :master als Tags for the docker samples does the trick.

Is there a reaso

[2018-12-03 10:03] #84 closed

[2018-12-03 10:03] #86 closed

[2018-12-03 10:04] lmangani commented on #82
You need to adjust the column lenght in your rotation.ini parameters, mind it will apply to future partitions only unless you drop the existing ones.

[2018-12-03 10:04] #82 closed

[2018-12-18 02:20] aleczhong opened #87 "docker build failed."
Hi,

When i try to build a webapp docker image, i encountered below error.

Sending build context to Docker daemon  13.4 MB
Step 1/30 : FROM debian:jessie
 ---> 4eb8376dc2a3
Step 2/30 : MAINTAINER L. Mangani <lorenzo.mangani@gmail.com>
 ---> Running in cb66e7be8e56
 ---> 67a4d1fec7c1
Removing intermediate container cb66e7be8e56
Step 3/30 : ENV HOME /root
 ---> Running in 6a526bb2d1ed
 ---> 773fe68

[2018-12-20 02:00] aleczhong commented on #87
Hi,

Any update for this issue?

Thanks.

[2018-12-20 12:16] lmangani commented on #87
Not much we can do if you can't reach the debian repository. I suggest moving on to H7 docker containers.

[2018-12-20 12:16] #87 closed

[2019-01-03 19:22] Si-Richards opened #89 "No Call data"
Running Homer-MYSQL from your Rancher Charts and i cant see any calls.
Registers and options no problem but no SIP calls.

I have a older build of homer using Kamailio instead of Helplify Server and Captagents send calls no problem.

When i direct them to the Homer-Docker-MYSQL containers i cannot see any call data.

[2019-01-10 07:43] karlstromio opened #90 "Using Homer 7 (heplify + influx) and HEPv2"
Good day,

I'm currently testing out Homer 7 and are having some issues with capturing from one of my Kamailio 4.4-servers. As it seems, the Kamailio 4.4 only supports HEPv2 and this Homer 7 only seems to read packets coming from HEPv3.

My question is - is there any switch on the heplify-server to "turn on" HEPv2-packages?

Thanks!

[2019-01-21 10:09] negbie commented on #90
Hi,
breaking changes from h5 to h7 are intentional. We want to get rid of some older stuff so when you want to use h7 upgrade kamailio or use a different capture client.

[2019-01-22 06:44] stephb59 opened #91 "Homer docker capture"
Hi.
I am new to homer. Great job !
I have installed homer 5 with docker according https://github.com/sipcapture/homer/wiki/Docker-Install
I am able to reach the homer web server.
In the startup log i have

I tried changing kamailio.cfg but this not help. I still have

 listening

There's probably something wrong in my config but i do not know where
ifconfig  output and install/run logs files are a

[2019-02-22 23:07] kakarata opened #92 "hom7-hep-influx_provisioning_1 - Failed to connect to chronograf port 80: Connection refused"
Hi. Installed hom7-hep-influx with docker compose, when finished, `hom7-hep-influx_provisioning_1` container is down, and below is the log I get for that container. No other container listening on port 80. Caddy just listen on 3000, 9080, 9090 and 9093.

==================

fetch http://dl-cdn.alpinelinux.org/alpine/v3.9/main/x86_64/APKINDEX.tar.gz,
fetch http://dl-cdn.alpinelinux.org/alpine/v3.9/

[2019-02-22 23:21] lmangani commented on #92
Hi,

The provisioning container is supposed to execute once and stay down. The Caddy ports are proxies to the internal services, try logging on to 9080 and sending HEP to 9060 to get started.

Hope this helps!

[2019-02-22 23:21] #92 closed

[2019-02-22 23:39] kakarata commented on #92
Thanks Lorenzo!

[2019-03-07 12:03] noobchamp opened #93 "unable to share"
How can I configure options to share flow with "share link" or "share cloud"?

thanks

[2019-03-07 12:05] lmangani commented on #93
Hi @noobchamp this is a feature inherited from `hepic` and not yet implemented in `homer` where there are other options up and coming such as [homer-view](https://github.com/sipcapture/homer-view-react) pending completion.

TLDR; not yet implemented

[2019-03-07 12:14] noobchamp commented on #93
Thanks @lmangani

[2019-03-07 12:14] #93 closed

[2019-04-16 01:55] marcozink commented on #91
Hi @stephb59 what change are you trying to do in kamailio.cfg? do you want to change the tansport, address or port?

[2020-01-30 15:40] Mihai-CMM opened #94 "no data displayed in homer web app"
Hello, running latest /home/homer7-docker/heplify-server/hom7-prom-all
I see the containers up and running and traffic that gets into heplify-server

,CID:3038f9736ea0d98a102f1f0c6a6c848d@10.193.14.26:5060,Vlan:0,}

2020/01/30 15:37:12.435003 decoder.go:139: DBG [hep] &HEP{Version:2,Protocol:17,SrcIP:10.193.14.26,DstIP:10.193.14.108,SrcPort:5060,DstPort:5060,Tsec:1580398632,Tmsec:62405,ProtoType:1

[2020-01-30 15:45] lmangani commented on #94
Hi @Mihai-CMM

I just tested the `7.7` branch and I can spin up and send traffic without glitches.
Let's confirm you're on the right branch first, and please perform the following:

`docker logs homer-webapp`

Please also try the following from any node enabled system:
[code]

Once it completes, go and check the UI for calls in the last 10 minutes. Feel free to attach screenshots.

[2020-01-30 16:07] Mihai-CMM commented on #94
Thanks Lorenzo,
With hep traffic generator I can see the calls,
But I am unable to see the ones captured on my live servers though they get into heplify-server:

2020/01/30 16:00:53.271218 decoder.go:139: DBG [hep] &HEP{Version:2,Protocol:17,SrcIP:10.193.14.108,DstIP:10.193.14.26,SrcPort:5060,DstPort:5060,Tsec:1580400052,Tmsec:422120,ProtoType:1,NodeID:2002,NodePW:,Payload:SIP/2.0 200 OK
Via: SIP/

[2020-01-30 16:12] Mihai-CMM commented on #94
Ok, I don't know what to say , could be a browser issue though not sure why I could see the ones generated  by hep generator in real time. I've logout , opened an incognito tab added call sip search widget and pressed search button, and this time when i was redirected to {URL}/call/result I could see my results also ....

[2020-01-30 16:14] lmangani commented on #94
Could you attach a screenshot of the home page? I just want to make sure you're on the right release.

[2020-01-30 16:16] Mihai-CMM commented on #94
![image](https://user-images.githubusercontent.com/14325493/73467888-41fc0180-4384-11ea-9ea4-90a3ea44fd17.png)

[2020-01-30 16:18] Mihai-CMM commented on #94
these are the  images that are used

[root@homer-prod hom7-prom-all]# docker images
REPOSITORY                  TAG                 IMAGE ID            CREATED             SIZE
grafana/grafana             master              e15c8afe07ae        About an hour ago   234MB
postgres                    11-alpine           89ae06c2ad76        13 hours ago        152MB
sipcapture/webapp           latest

[2020-01-30 16:23] lmangani commented on #94
Looks good - not sure what this might have been but it appears cache related.
Keep in mind we push the image about once a day (nightly build) so check back for updates often, and let us know if you notice any other anomaly. Thanks for your report!

[2020-01-30 16:23] #94 closed

[2020-01-31 10:07] Mihai-CMM opened #95 "grafana returns empty results for sip related metrics"
Hello, I am using prom-all 7.7 version.
Looking at grafana query:

(rate(heplify_method_response{method="INVITE", response=~"50.*"}[10m]))

Looking at exposed metric:

curl localhost:9096/metrics | grep heplify

heplify_packets_size{node_id="-sl",type="sip"} 546
heplify_packets_size{node_id="asterisk1-test",type="sip"} 546

heplify_packets_total{node_id="-sl",type="sip"} 42
heplify_packets_total{n

[2020-02-13 11:15] Mihai-CMM commented on #95
Hi guys, any development here?

[2020-02-13 11:18] adubovikov commented on #95
did you upgrade the docker-container to the latest one ?

[2020-02-13 11:37] Mihai-CMM commented on #95
Thank you for reply,

Yes still not all the methods are exposed

![image](https://user-images.githubusercontent.com/14325493/74430545-5e586d80-4e5d-11ea-9942-90bbff1b280a.png)

In grafana this is te query
(rate(heplify_method_response{method="INVITE", response=~"50.*"}[10m]))

Docker images

[code]

[2020-02-18 10:53] adubovikov commented on #95
https://github.com/sipcapture/homer7-docker

[2020-02-18 10:54] adubovikov commented on #91
https://github.com/sipcapture/homer7-docker

[2020-02-18 10:55] adubovikov commented on #59
https://github.com/sipcapture/homer7-docker

[2020-02-18 11:36] Mihai-CMM commented on #95
Sorry @adubovikov I don't understand the comment, what should I do?

[2020-02-18 11:37] adubovikov commented on #95
please install homer7-docker, not homer-docker

[2020-02-18 12:34] Mihai-CMM commented on #95
Hmm, please excuse my noobness, is not what I am doying?

[root@homer-prod heplify-server]# git status
On branch 7.7
Your branch is up to date with 'origin/7.7'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

`* 7.7                     8c69dcd Merge branch '7.7' of https://git

[2020-02-18 12:35] lmangani commented on #95
@Mihai-CMM you opened the issue on the wrong repository :) that's all he said

[2020-02-18 12:39] Mihai-CMM commented on #95
Stupid me :) ... got it, You want me to move it there?
Thanks guys

[2020-02-18 12:42] Mihai-CMM commented on #95
Anyway I've looked at your yesterday commit @lmangani and it seems it fixed the issue. Commenting
`#      - "HEPLIFYSERVER_PROMTARGETIP=127.0.0.1"
#      - "HEPLIFYSERVER_PROMTARGETNAME=local"
`
Did the trick

Thanks

[2020-02-18 12:50] #95 closed

[2020-02-20 00:02] adubovikov commented on #54
https://github.com/sipcapture/homer-app/releases/tag/1.1.32
also the packages are in the repository. Please update